*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    color:aliceblue;
}

#sports h2 {
    color: darkgoldenrod;
}
#economy h2 {
    color: darkolivegreen;
}
#education h2 {
    color: darkcyan;
}
#healt h2 {
    color: darkred;
}
.creation-date {
    color: gray;
    font-style: italic;
}

body > header {
    background-color:darkslategray;
    padding: 16px 0;
    color: dimgray;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 30px;
}

header li a {
    color:aliceblue;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-between;
}

.articles article img {
    width: 100%;
}

.articles article {
    width: 30%;
    margin-top: 8px;
    margin-bottom: 8px;
}


.articles article a{
    color: aliceblue;
    padding: 8px;  
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}


.articles article p 
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section {
    padding: 16px 0;
}
section h2 {
    margin-bottom: 16px;
    font-size: 32px;
}

#sports {
    background-color: rgb(233, 235, 130, 0.4)
}
#sports .articles article a{
    background-color:darkgoldenrod;
}

#economy {
    background-color: rgba(0, 200, 0, 0.1);
}
#economy .articles article a{
    background-color: darkslategray;
}

#education {
    background-color:rgba(0, 0, 100, 0.1);
}
#education .articles article a{
    background-color:rgba(10, 144, 146, 0.747);
}

#health {
    background-color:rgba(255, 0, 0, 0.1);
}
#health .articles article a{
    background-color: rgba(138, 49, 49, 0.76);
}